*.iml
.gradle
.kotlin
/local.properties
/.idea
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
build/
/build
app/build/
/app/build
/captures
.externalNativeBuild
.cxx
local.properties
.env
debug.keystore
debug.keystore.base64
!release.keystore
!release.keystore.base64
*.apk
*.aab

